body{
    background-color: #FFFFFF;
}

.my{
   width: 50%; 
   height: 600px;
   background-color: #34273E;
   margin: 0 auto;
   margin-top: 50px;
   text-align: center;
   color: #E4BADA;
   font-weight: 900;
   font-size: 20px;
   padding-top: 70px;
   border-radius: 50px;
   
   box-shadow: 1px 9px 23px 4px rgba(0,0,0,0.75);
}
h1{
   color: white;
}
.my img{
    margin-top: 30px;
    width: 90%;
border-radius: 50px;
height: 370px;}
.my:hover {
    border: 10px solid rgb(255, 0, 166);
    box-shadow: 1px 9px 23px 14px rgba(0,0,0,0.75);
}

